/* --- Base CSS --- */

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
	min-height: 1px;
}

.container:after {
	content: "";
	display: block;
	clear: both;
}

[class^="col-"] {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 1px;
}

/* --- Columns --- */

.col-1-2 {
	width: 50%;
}

.col-2-2 {
	width: 100%;
}

.col-1-3 {
	width: 33%;
}

.col-2-3 {
	width: 66%;
}

.col-3-3 {
	width: 100%;
}

.col-1-4 {
	width: 25%;
}

.col-2-4 {
	width: 50%;
}

.col-3-4 {
	width: 75%;
}

.col-4-4 {
	width: 100%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-5-5 {
	width: 100%;
}

.col-2-2,
.col-3-3,
.col-4-4,
.col-5-5 {
	float: none;
}

/* --- Base media query --- */

@media (max-width: 768px) {

	.container {
		width: 100%;
	}
	
	[class^="col-"] {
		width: 100%;
		float: none;
	}

}
