body {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
	color: #222;
	line-height: 20px;
	background: #fff;
}

a {
	color: orange;
	text-decoration: underline;
	-webkit-transition: all 200ms linear;
	-moz-transiiton: all 200ms linear;
	transition: all 200ms linear;
}

a:hover {
	text-decoration: none;
	color: #888;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, fieldset, form, table {
	margin-bottom: 20px;
}

ul, ol {
	list-style-position: inside;
}

ul {
	list-style-type: square;
}

ul ul, ol ol, ul ol, ol ul {
	margin-left: 16px;
}

#site {
	margin-top: 40px;
}

#site header {
	border-bottom: 1px solid orange;
	margin-bottom: 15px;
}

#site header h1 {
	margin-bottom: 4px;
}

#site main [class*="col-"] {
	outline: 1px solid orange;
	text-align: center;
	height: 35px;
	line-height: 35px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}

#site main [class*="col-"]:hover {
	background: orange;
	color: #fff;
}

#site main .row {
	margin-bottom: 15px;
}

#site main .row:after {
	display: table;
	clear: both;
	content: "";
}

#site main section {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#site main section:last-child {
	border-bottom: 0;
}